/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");
/* not sure if original import was successful. */

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 3.5em;
  weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed';
}

h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
}

h3 {
  font-size: 4.2em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
  margin: 0px 0px 15px 0px;
}

h5 {
  font-size: 1.2em;
}

/* CSS Color Properties & CSS Box Model
Nav */
.nav-bar {
  color: white;
  background-color: rgb(25, 33, 41);
  padding: 14px 0px 14px;
  height: 40px;
}
/* CSS Box Model */
.nav-bar-ul {
  width: 1200px;
  margin: 0px;
}
.nav-bar-li {
  list-style-type: none;
  text-align: center;
  float: left;
  width: 33%;
}
/* Multi selector again; not sure how. */

/* Issues with below */
.nav-bar-item {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
/* Header */
.header {
  background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  position: relative;
}

header {
  height: 650px; 
}

h2 {
  color: white;
  text-shadow: #020819 8px -20px 9px;
}

.quote {
  font-size: 2.5em;
  position: absolute;
  left: 10%;
  bottom: 15vh;
}

/* Section 1 */
.dark-background {
  background-color: rgb(25, 33, 41);
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0px;
}

.text {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

/* Not working properly */
.link-btn {
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  margin: 40px auto 0px auto;
  padding: 14px 20px 14px 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  opacity: 0.2;
}

/* Section 2 */
.service-box {
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0px #eee;
  margin: 50px 5% 0px 5%;
  padding: 20px;
  width: 40%;
}

img {
  width: 125px;
}

/* Section 3 */
/* Unclear to override class element 
to id element */
/* CSS Box Model Section 3 unclear */
#team .section-text {
  font-size: 1.9em;
  text-align: center;
  
}
#team .member-name {
  font-size: 1.5em;
  font-weight: 700;
  display: block;
  text-align: center;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 1.9em;
  padding: 0px 100px;
  margin: 0px 0px 25px;
}
/* issue with emphasis */
.address {
  font-style: normal;
  font-size: 0.8em;
  margin: 0px 0px 30px;
}
/* issue with links */
.link {
  color: rgb(67, 163, 230);
  list-style-type: none;
  text-decoration: none;
}
.map-frame {
  height: 375px;
  float: right;
  width: 60%;
}

/* CSS Layout */
.col {
  float: left;
}
.col-3 {
  width: 30% 30% 30%;
}
.col-middle {
  margin: 0% 5% 0% 5%;
}
.clearfix {
  clear: both;
}

/* CSS Tables */
.schedule-table {
  margin: 0 auto 40px auto;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  padding: 5px 10px;
}

.slot-form-container {
  width: 40%;
  margin: 18px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}
.label {
  display: block;
  margin-bottom: 5px;
  line-height: 15px;
}
input select {
  height: 20px;
  outline: none;
  padding: 3px;
  width: 100%;
}

button {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 9px;
  margin-top: 15px;
}